# Archivos de Python
*.pyc
__pycache__/

# Entornos virtuales
.venv/
env/

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de ambiente (credenciales)
.env
.env.local
.env.*.local
.streamlit/secrets.toml

# Otros
*.log